.body {
    background: rgb( 9 9 11);
    max-width: 64rem;
    margin: 0 auto;
    padding: 14px;
}

.header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    backdrop-filter: blur(12px);
    max-width: 64rem;
    margin: 0 auto;
    padding: 16px;
}

.headerItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.iconLogo {
    color: rgb(228 228 231)
}

.headerP {
    font-size: 22px;
    color: rgb(228 228 231);
}

.navBar {
    display: flex;
    gap: 1.1rem;
}

.navItems {
    text-decoration: none;
    color: rgb(82 82 91);
    font-size: 1.0rem;
    padding: 11px;
    cursor: pointer;
}

.navItems:hover {
    color: rgb(228 228 221);
    background: rgb(25 26 37);
    border-radius: 3px;
}

.main {
    padding-top: 86px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 15px;
}

.profilePic {
    width: 6.02rem;
    height: 6.06rem;
    border-radius: 8px;
    object-fit: cover;
}

.whoAmI h1{
    color: rgb(228 228 231);
    font-size: 27px;
}

.whoAmI .dev:hover {
    color: rgb(16 185 129);
}

.whoAmI h3 {
    color: rgb(161 161 170);
    font-size: 16px; 
}

.like {
    display: flex;
    width: 78px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 8px;
    cursor: pointer;
}

.like:hover {
    background: rgb(25 25 26);
    border-radius: 7px;
    width: 88px;
    height: 50px;
    align-items: center;
}

.star {
    width: 1.8rem;
    height: 1.8rem;
    fill: #Ffd700;
}

.star:hover {
    fill: rgb(16 185 129);
}

.like span {
    font-size: 20px;
    color: rgb(228 228 221);
}

.socialMedia {
    display: flex;
    gap: 1.4rem;
    margin-bottom: 22px;
}

.contentContainer {
    display: flex;
    align-items: center;
    gap: 13px;
}

.media {
    display: flex;
    gap: 0.6rem;
    text-decoration: none;
    color: rgb( 212 212 216);
    transition: all 0.4s;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    box-shadow: 0px 0px 16px #000;
}

.media:hover {
    color: rgb(16 185 129);
    background: rgb(25 26 37);
    transform: scale(1.07);
}

.mediaP {
    display: flex;
    gap: 0.6rem;
    text-decoration: none;
    align-items: flex-end;
    color: rgb( 212 212 216);
}

.aboutMe {
    border: 1px solid rgb(228 228 221);
    padding: 13px;
    border-radius: 7px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 22px;
}

.aboutMe h3 {
    color: rgb(16 185 129);
    margin-bottom: 10px;
}

.aboutMe p {
    color: rgb(228 228 221);
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 500px;
}

.projectsList::-webkit-scrollbar {
    width: 15px;
    border-radius: 7px;
    background: rgb( 9 9 11);
}

.title {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.title h1 {
    color: rgb(16 185 129);
}

.favoriteProjects .title a {
    gap: 12px;
    align-self: flex-end;
    text-decoration: none;
    color: rgb(228 228 221);
    padding: 7px;
}

.favoriteProjects .title a:hover {
    background: rgb(25 25 26);
    border-radius: 4px;
    color: rgb(16 185 129);
}

.favoriteProjects .projectsList ul {
    list-style: none;
}

.favoriteProjects .projectsList li {
    border: 1px solid rgb(228 228 221);
    border-radius: 9px;
    padding: 10px;
    height: fit-content;
    margin-bottom: 13px;
}

.favoriteProjects .projectsList li a {
    display: flex;
    gap: 12px;
    flex-direction: column;
    text-decoration: none;
}

.favoriteProjects .projectsList li:hover, .favoriteProjects .projectsList li a h1:hover {
    background: rgb(25 26 37);
    color: aqua;
}

.favoriteProjects .projectsList li a h1 {
    color: rgb(228 228 221);
}

.favoriteProjects .projectsList li a p {
    color: rgb(161 161 170);
}

.technologies ul {
    list-style: none;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 6px;
}

.technologies li {
   background: rgb(24 24 27);
    border-radius: 7px;
    margin-bottom: 13px;
    text-align: center;
    filter: saturate(0);
    padding: 6px;
}

.technologies li:hover {
    filter: invert(1);
    background: rgb(24 24 27);
    cursor: pointer;
}

.technologies li .icons {
    width: 67px;
    height: 72px;
    filter: invert(100%);
}

.musicsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.musicsTitle {
    color: #10B981;
}

@media (min-width: 650px) {
  .projects {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }

  .technologies {
    width: 50%;
  }

  .favoriteProjects {
    width: 46%;
  }

  .title {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .favoriteProjects .title a {
    align-self: auto;
  }
}

@media (max-width: 523px) {
  .socialMedia {
    flex-direction: column;
    align-items: center;
  }
}